/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    min-width: 580px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    min-width: 605px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1100px) {
  .container {
    max-width: 605px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(204, 228, 238);
}

.container {
  width: 50%;
  margin: 60px auto;
}

.first-container {
  height: 38vh;
  background-color: snow;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-container {
  height: 20vh;
  background-color: rgb(66, 153, 255);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-container {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 136, 237);
  color: white;
}

.last-container {
  height: 28vh;
  border-bottom-left-radius: 10;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 125, 226);
  color: white;
}

.about {
  width: 30%;
  height: 45%;
  padding-right: 40px;
  box-sizing: border-box;
  border-right: 1px solid rgba(209, 204, 204, 0.4);
  text-align: right;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.text-1 {
  height: 100%;
  width: 60%;
  padding: 50px 50px 0px 40px;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  line-height: 1.75;
}

.recent {
  width: 30%;
  height: 60%;
  padding-right: 40px;
  box-sizing: border-box;
  border-right: 1px solid rgba(209, 204, 204, 0.4);
  text-align: right;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.text-2 {
  height: 100%;
  width: 60%;
  padding: 40px 50px 0px 40px;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  line-height: 2.25;
}

.contact {
  width: 30%;
  height: 65%;
  padding-right: 40px;
  box-sizing: border-box;
  border-right: 1px solid rgba(209, 204, 204, 0.4);
  text-align: right;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.social {
  width: 60%;
  padding: 20px 50px 40px 40px;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  line-height: 2.25;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start space-between;
}

.button {
  height: 38px;
  padding-top: 3px;
  text-align: center;
  border: 1px solid rgba(209, 204, 204, 0.4);
  border-radius: 5px;
  transition-duration: 0.3s;
}

.button:hover {
  color: greenyellow;
  border: 1px solid greenyellow;
}

strong:hover {
  color: greenyellow;
}

.profile {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.profile-pic {
  position: relative;
}

img {
  width: 38%;
  height: auto;
  margin: 10px auto;
  border-radius: 50%;
}

h1 {
  margin: 10px;
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  color: midnightblue;
}

h3 {
  margin: 10px;
  font-family: "Geneva", Tahoma, sans-serif;
  font-weight: 100;
  font-size: 1rem;
  color: slategray;
}

strong {
  text-decoration: underline;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

ul li::before {
  content: "✓ ";
}

.twitter {
  width: 100px;
  margin: 5px;
}

.facebook {
  width: 125px;
  margin: 5px;
}

.instagram {
  width: 125px;
  margin: 5px;
}

.instagram::before {
  content: "";
}

.linkedin {
  width: 100px;
  margin: 5px;
}

.phone {
  width: 85px;
  margin: 5px;
}

.email {
  width: 85px;
  margin: 5px;
}
